body {
    margin: 0 auto;
    text-align: center;
    width: 2000px;
    background-color: #ffffe0;
}

.babyname {
    font-size: 25px;
    padding: 10px;
    margin: 6px 6px;
    border-radius: 10px;
    border: none;
}

.m{
    background-color: #bfe6ff;
    color: #0da2ff;
    
}

.f {
    background-color: lightpink;
    color: #AA336A;

}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px auto;
    justify-content: center;
}


.title {
    margin: 0px auto;
    text-align: center;
    font-size: 50px;
    color: #36454F
}

input {
    text-align: center;
    
    
}

/* .delete {
    margin: 0px;
    display: flex;
    flex-direction: row;
} */


