.male-style {
    display:inline-block;
    font-size: 25px;
    padding: 5px;
    margin: 10px 10px;
    background-color: #89CFF0
}

.female-style {
    display:inline-block;
    font-size: 25px;
    padding: 5px;
    background-color: lightpink;
    margin: 10px 10px;
    
}

.title {
    margin: 0px auto;
    text-align: center;
}

